.card {
    float: left;
    margin: auto;
    padding: 10px;        
    width: 15%;
    text-align:center;
}

.selector {
    min-height: 100px;
}


.card-img {
    width: 90%;
    height: 100%;
}

.card-img[data-matching='true'] {
    border: 6px solid #ff0000;
}

.card-img[data-matching='false'] {
    border: 6px solid transparent;
}
